.kalamun-card {
    container-name: kalamun-card;
    container-type: inline-size;
    --color-white: #fff;
    --color-xlight-grey: #e8edf1;
    --color-light-grey: #c2cfd9;
    --color-grey: #98a5ae;
    --color-dark-grey: #788289;
    --color-xdark-grey: #41464a;
    --color-black: #1d1d1d;

    --color-red: #d11b26;
    --color-blue: #006cbe;

    --box-shadow: 0 2px 10px 0 #0002;

    position: relative;
    padding: 1rem 0;
    height: 100%;
}
.kalamun-card .kalamun-card_prevent-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.kalamun-card .kalamun-card_inner {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    height: 100%;
    background: var(--color-white);
}
.kalamun-card .kalamun-card_image {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 20 / 9;
    background: var(--color-grey);
}
.kalamun-card .kalamun-card_image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 20 / 9;
    display: block;
}

.kalamun-card .kalamun-card_progressbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: var(--color-grey);
}
.kalamun-card .kalamun-card_progressbar .dci-meter .dci-meter-value {
    bottom: 0 !important;
    line-height: 100%;
    z-index: 100;
    font-size: var(--font-size-xxxsmall);
}
.kalamun-card .kalamun-card_progressbar .dci-meter[data-progress="0"] .dci-meter-value {
    display: none;
}

.kalamun-card .kalamun-card_learning-time {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 15px;
    color: var(--color-white);
    text-shadow: 0 0 5px var(--color-black);
    pointer-events: none;
}

.kalamun-card .kalamun-card_body {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0.5em 0 0.5em;
    gap: 1em;
    justify-content: space-between;
    flex-basis: 100%;
    word-wrap: break-word;
    line-height: 1.2;
}
.kalamun-card .kalamun-card_title a {
    font-weight: normal;
    line-height: 1.2;
    color: var(--color-black);
}
.kalamun-card .kalamun-card_description {
    color: var(--color-grey);
    font-size: 0.8em;
}
.kalamun-card .kalamun-card_body a {
    text-align: center;
}

.kalamun-card .kalamun-card_progress {
    font-size: var(--font-size-xsmall);
    font-weight: bold;
    color: var(--color-blue);
}
.kalamun-card .kalamun-card_progress.not-started {
}

/* file */
.kalamun-card[data-type="file"] .kalamun-card_image {
    width: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* test */
.kalamun-card[data-type="tst"] .kalamun-card_image {
    width: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}


.kalamun-card .kalamun-card_body > div {
    text-align: center;
}
.kalamun-card .kalamun-card_progress {
    margin-top: 0.5em;
}
